.header__container {
  display: flex;
  padding: 5px 182px 5px 188px;
  justify-content: space-between;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 28px;
  align-items: center;
}

.burger-menu {
  display: none;
}

.header__navigation-container {
  display: flex;
  gap: 97px;
  align-items: center;
}

.header__images {
  display: flex;
  gap: 27px;
  align-items: center;
}

.header__link {
  color: #1c1b1b;
  height: 25px;
  text-decoration: none;
}

.header__element {
  font-weight: 700;
  white-space: nowrap;
  font-size: 16px;
  line-height: 26px;
}

.header__link-logo {
  position: absolute;
  left: 50%;
}

.menu {
  display: none;
}

.burger-menu--open {
  background-color: yellow;
  transform: translateX(0);
  transition: all 0.3s linear;
}

.burger-menu--closed {
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.burger-closed {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 1201px) {
  .header__container {
    padding: 5px 42px 5px 16px;
  }

  .header__list {
    display: none;
  }

  .burger-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding-left: 16px;
  }

  .burger-closed {
    display: inline-block;
  }

  .menu {
    display: flex;
    width: 240px;
    height: 420px;
    flex-direction: column;
    gap: 16px ;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    border-radius: 0 0 150px 0;
  }

  .header__link--burger {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    list-style-type: none;
    font-size: 24px;
    margin-left: 12px;
  }

  .header__list--burger {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 720px) {
  .header__link-logo {
    display: none;
  }
}
