.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__form {
  display: flex;
  margin-top: 26px;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  margin-top: 79px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.subscribe__paragraph {
  margin-top: 9px;
  width: 496px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.subscribe__input-fullname {
  display: flex;
  gap: 60px;
  width: 366px;
}

.subscribe__input-name {
  width: 153px;
  height: 39px;
  padding-left: 8px;
  border: 1px solid black;
}

.subscribe__input-email {
  width: 366px;
  height: 39px;
  margin-top: 18px;
  padding-left: 8px;
  border: 1px solid black;
}

.subscribe__form-button {
  padding: 7px 23px 10px;
  font-weight: 400;
  font-size: 14px;
  width: 115px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: black;
  margin-top: 16px;
}

@media (max-width: 720px) {
  .subscribe__paragraph {
    width: 310px;
  }

  .subscribe__input-email {
    width: 300px;
  }

  .subscribe__input-name {
    width: 115px;
  }

  .subscribe__input-fullname {
    gap: 25px;
    justify-content: space-between;
    max-width: 300px;
  }
}
